[Unit]
Description=Chromium

[Service]
ExecStart=/usr/bin/chromium --user-data-dir=%h/.no-git-control/chromium/%i

[Install]
WantedBy=graphical.target
