[Unit]
Description=Enlightentment window manager

[Service]
WorkingDirectory=/home/thequux
ExecStart=/usr/bin/enlightenment_start

[Install]
WantedBy=graphical.target
