google-chrome
google-googletalkplugin
libreoffice
inkscape
software-center
OpenSCAD
Doxygen.org
LyX/lyx.conf
chromium
chromium-2
darktable/
eog/accels
evince/
autostart
Skype
Game Dev Tycoon
Google/GoogleEarthPlus.conf
