<?xml version="1.0" encoding="utf-8"?>
<bmp version="0.3">
  <domain id="albums">
    <key id="continuous-play" type="boolean">FALSE</key>
  </domain>
  <domain id="audio">
    <key id="alsa-buffer-time" type="integer">200000</key>
    <key id="cdrom-device" type="string">/dev/cdrom</key>
    <key id="device-alsa" type="string">default</key>
    <key id="device-esd" type="string">localhost</key>
    <key id="device-oss" type="string">/dev/dsp0</key>
    <key id="esd-buffer-time" type="integer">200000</key>
    <key id="oss-buffer-time" type="integer">200000</key>
    <key id="sink" type="string">alsasink</key>
  </domain>
  <domain id="bmp">
    <key id="display-notifications" type="boolean">TRUE</key>
    <key id="display-tracklist-numbers" type="boolean">TRUE</key>
    <key id="enable-autoplay" type="boolean">FALSE</key>
    <key id="file-chooser-close-on-add" type="boolean">FALSE</key>
    <key id="file-chooser-close-on-open" type="boolean">TRUE</key>
    <key id="file-chooser-path" type="string">/home/thequux</key>
    <key id="file-chooser-path-relocate-album" type="string">/home/thequux</key>
    <key id="follow-current-track" type="boolean">FALSE</key>
    <key id="font" type="string">Sans 12</key>
    <key id="force-rgba-disable" type="boolean">FALSE</key>
    <key id="icon-theme" type="string">tango</key>
    <key id="keep-above" type="boolean">FALSE</key>
    <key id="library-view-size" type="integer">0</key>
    <key id="no-remote" type="boolean">FALSE</key>
    <key id="no-ui" type="boolean">FALSE</key>
    <key id="physically-delete-files" type="boolean">FALSE</key>
    <key id="playlist-show-dnd-menu" type="boolean">FALSE</key>
    <key id="repeat" type="boolean">FALSE</key>
    <key id="resume-on-startup" type="boolean">FALSE</key>
    <key id="resume-on-startup-time" type="integer">0</key>
    <key id="resume-on-startup-track" type="integer">0</key>
    <key id="send-statistics" type="boolean">TRUE</key>
    <key id="shuffle" type="boolean">FALSE</key>
    <key id="strip-mpeg-files" type="boolean">FALSE</key>
    <key id="time-remaining" type="boolean">FALSE</key>
    <key id="ui-esc-trayconify" type="boolean">FALSE</key>
    <key id="use-custom-cursors" type="boolean">TRUE</key>
    <key id="volume" type="integer">50</key>
  </domain>
  <domain id="lastfm">
    <key id="password" type="string"></key>
    <key id="queue-enable" type="boolean">FALSE</key>
    <key id="record-to-profile" type="boolean">FALSE</key>
    <key id="submit-enable" type="boolean">FALSE</key>
    <key id="username" type="string"></key>
  </domain>
  <domain id="main-window">
    <key id="height" type="integer">0</key>
    <key id="pos_x" type="integer">0</key>
    <key id="pos_y" type="integer">0</key>
    <key id="width" type="integer">0</key>
  </domain>
  <domain id="playlist">
    <key id="rootpath" type="string">/home/thequux</key>
  </domain>
  <domain id="playlist-window">
    <key id="height" type="integer">0</key>
    <key id="pos_x" type="integer">0</key>
    <key id="pos_y" type="integer">0</key>
    <key id="visible" type="boolean">FALSE</key>
    <key id="width" type="integer">0</key>
  </domain>
  <domain id="podcasts">
    <key id="download-dir" type="string">/home/thequux</key>
    <key id="update-on-startup" type="boolean">FALSE</key>
  </domain>
</bmp>
